{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ object.cover.url }}" alt="">
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 12px;">
                        <span class="label label-primary label-big">{{ object.title }}</span>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-success" href="{% url 'tickets:buy_concert_ticket' pk=object.pk %}" style="margin-top: 20px;">خرید بلیط</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="row">
        	<div class="col-md-12">
				<ul class="list-group">
					<li class="list-group-item">
						<strong>مدت:‌ {{ object.length }} دقیقه</strong>
					</li>
					<li class="list-group-item">
						<strong>تاریخ اجرا:‌ <span dir="rtl">{{ object.running_time.date }}</span></strong>
					</li>
					                    <li class="list-group-item">
                        <strong>مکان:‌ {{ object.place.name }}</strong>
                    </li>
                    {% if object.songs.count > 0 %}
                        <li class="list-group-item">
                            <h4><strong>ترا نه ها</strong></h4>
                            {{ object.songs.all|join:' - ' }}
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <h4><strong>توضیحات</strong></h4>
                        <div class="well" style="text-align: justify;">
                            {{ object.description|safe }}
                        </div>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}