{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | کنسرت ها{% endblock %}

{% block content %}

<div class="clear"></div>

<div class="row">
    <div class="col-md-9">
        {% for concert in object_list reversed %}
            <div class="col-md-3 col-sm-6">
                <div class="space">
                    <a href="{% url 'tickets:concert_detail' pk=concert.pk %}">
                        <img class="img-thumbnail img-responsive thumbnail cover-home" src="{{ concert.cover.url }}" alt="{{ concert.title }}">
                    </a>
                </div>
                <div class="text-center space">{{ concert.title }}</div>
                <div class="text-center space">کارگردان: {{ concert.director }}</div>
                <div class="text-center space">
                    <a class="btn btn-primary" href="{% url 'tickets:concert_detail' pk=concert.pk %}">مشاهده</a>
                </div>
            </div>   
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% block advertisement %}
            {% include "layouts/advertisement.html" %}
        {% endblock %}
    </div>

</div>

{% endblock %}