{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-12">
			<div class="col-md-6">
				<img class="img-responsive img-thumbnail cover-detail" src="{{ object.cover.url }}" alt="{{ object.title }}">
			</div>
			<div class="col-md-6">
				<div class="col-md-10">
				<h3>
					<span class="label label-danger">{{ object.title }}</span>
					<span class="label label-default">{{ object.director }}</span>
					<span class="label label-primary">{{ object.release_date.year }}</span>
				</h3>
				</div>
				<div class="col-2">
					<a class="btn btn-success" href="{% url 'tickets:buy_film_ticket' pk=object.pk %}" style="margin-right: 16px;">خرید بلیط</a>
				</div>
			</div>
			<hr>
			<div class="col-md-10">
				<ul class="list-group">
					<li class="list-group-item">
						<strong>مدت:‌ {{ object.length }} دقیقه</strong>
					</li>
					<li class="list-group-item">
						<strong>تاریخ اجرا:‌ <span dir="rtl">{{ object.running_time.date }}</span></strong>
					</li>
					<li class="list-group-item">
						<strong>مکان:‌ {{ object.place.name }}</strong>
					</li>
					{% if object.songs.count > 0 %}
						<li class="list-group-item">
							<h4><strong>ترا نه ها</strong></h4>
							{{ object.songs.all|join:' - ' }}
						</li>
					{% endif %}
					<li class="list-group-item">
						<h4><strong>توضیحات</strong></h4>
						<div class="well">{{ object.description }}</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}