{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} | ارتباط با ما {{ object.title }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading heading big text-center">
                بیوگرافی
            </div>

            <div class="panel-body">
بزرگترین سامانه خرید بلیت سینما، همایش، تئاتر و کنسرت در جنوب کشور می باشد. تمامی خدمات اين سـامانه، حسب مورد دارای مجوز های لازم از مراجع مربوطه می‌باشد و فعاليت‌های ايـن سايت تابع قوانين و مقررات جمهـوری اسـلامی ايران است.
<br>
بزرگترین سامانه خرید بلیت سینما، همایش، تئاتر و کنسرت در جنوب کشور می باشد. تمامی خدمات اين سـامانه، حسب مورد دارای مجوز های لازم از مراجع مربوطه می‌باشد و فعاليت‌های ايـن سايت تابع قوانين و مقررات جمهـوری اسـلامی ايران است.
<br>
بزرگترین سامانه خرید بلیت سینما، همایش، تئاتر و کنسرت در جنوب کشور می باشد. تمامی خدمات اين سـامانه، حسب مورد دارای مجوز های لازم از مراجع مربوطه می‌باشد و فعاليت‌های ايـن سايت تابع قوانين و مقررات جمهـوری اسـلامی ايران است.
<br>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading heading big text-center">تماس با باج تیکت</div>

            <div class="panel-body">
                <br>
                <table border="0" width="100%" cellspacing="0" cellpadding="5">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <strong>تلفن تماس:</strong><strong><br /> </strong>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="170">021-<strong>75391</strong> (خط ویژه)
                            </td>
                            <td>
                                <strong>راهنمای داخلی ها:</strong><br> - پیگری ومشکلات خرید، مشکلات عضویت درباشگاه و...&nbsp;<strong><span style="color: #3366ff;">(ویژه مشتریان و مخاطبان سایت و اپلیکیشن)</span>:</strong>&nbsp;داخلی&zwnj;&zwnj; 1<br /> - امور مربوط به نرم افزار گیشه سینماها <strong><span style="color: #3366ff;">(ویژه پرسنل سینماها)</span></strong><strong>:</strong> داخلی 2<br /> - روابط عمومی و تبلیغات: داخلی 3<br /> - امور مالی سینماها <strong><span style="color: #3366ff;">(ویژه سینماها)</span></strong><strong>:</strong> داخلی 4<br /> &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <strong>ساعات کاری:<br></strong>
                    شنبه و یکشنبه: از ساعت 9 تا 22<br />سایر روزها: از ساعت 9 تا&nbsp;24<br /><br /> <br /> <img src="{% static 'img/email.jpg' %}" alt="email" width="34" height="34" /><br>
                    <strong>ایمیل :</strong> support@paajticket.org &nbsp;(خارج از ساعات کاری)<br>
                    <br>
                    <img src="{% static 'img/contact.jpg' %}" alt="contact" width="34" height="34" /><br>
                    نشانی:&nbsp;تهران، خيابان شریعتی، پایین تر از پل صدر، نبش کوچه آفتاب، پلاک 1654، واحد&nbsp;8
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading heading big text-center">فرم ارتباط با ما</div>

            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>

{% endblock %}