{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block headline %}
	<h2>به سایت رزومه خوش آمدید</h2>
{% endblock %}

{% block content %}


<div class="row">
	<div class="col-md-2">
			سلام
	<strong>
	{% if user.is_authenticated %}
		{% if user.first_name and user.last_name %}
			{{ user.first_name }} {{ user.last_name}}
		{% else %}
			{{ user.username }}
		{% endif %}
	{% else %}
		مهمان گرامی
	{% endif %}
	</strong>

	</div>
	<div class="col-md-8">

		<h3 class="header">رزومه چیست؟</h3>

		<p>
			<img src="{% static 'img/resume.jpg' %}" class="img-responsive">
		</p>
		<p class="content">
رزومه معرفینامه ای شامل خلاصه ای از تجربیات کاری، سوابق تحصیلی و مهارتهای فرد جویای کار است. این معرفینامه میتواند بصورت تایپ شده در حداکثر یک یا دو صفحه در قالب اوراق چاپ شده و یا نسخه الکترونیکی (غالباً فایلهای doc , pdf) از سوی کارجو به کارفرما ارائه گردد. در برخی کشور های اروپایی و آسیایی به رزومه عنوان سی وی (CV) که مخففی از عبارت Curriculum Vitae است نیز اطلاق می گردد.
</p>

		<p class="content">
با گسترش روزافزون بازار کار در زمینه های گوناگون و نیز افزایش شمار متقاضیان مشاغل مختلف، رزومه نویسی به غیر از یک ضرورت به یک فن و مهارت در کاریابی تبدیل گشته است و ارائه درست و هوشمندانه آن توسط کارجو میتواند وجه تمایزات بارزی را در عرصه رقابت کاریابی بین وی و سایر رقبایش ایجاد نماید. از طرفی کارفرمایان مایلند تا قبل از مصاحبه تلفنی و یا حضوری با متقاضیان، ضمن صرفه جویی در وقت خود کارجویان را از روی تجربیات و توانائیهایشان گروه بندی یا اصطلاحاً غربال کنند. این کار به آنها این امکان را می دهد که با رتبه بندی رزومه های وارده، افراد مورد نیاز خود را که دارای انگیزه و توانایی کافی هستند به مصاحبه دعوت و نهایتاً بهترینها را استخدام نمایند. بررسی رزومه متقاضیان شغل ضمن ایجاد صرفه جویی در وقت کارفرمایان در مرحله گزینش باعث می شود تا معیارهای سنجشی آنها بشکل مؤثرتری انجام پذیرفته و از پرداختن به تماسها و مصاحبات غیر مرتبط با موضوع کار اجتناب گردد.
		</p>

		<p class="content">
اگر بعنوان کارجو بدنبال کار هستید هوشیار باشید که ارائه رزومه فرصت مناسبی است برای عرضه و تبلیغ توانایی و مهارتهای شما به کارفرما. هدف نهایی رزومه اینست که ملاقات با کارفرما را برایتان تضمین نموده و در نهایت شما را به سوی میز مصاحبه هدایت نماید. به یاد داشته باشید که رزومه شما نماینده و معرف شما نزد کارفرمایی است که هنوز شما را ندیده و نمی شناسد. پس نحوه طراحی آن به گونه ای که معرف قابلیتها و شایستگی های شما باشد، از اهمیت ویژه ای برخوردار است. به یاد داشته باشید که همیشه و در هر ارتباطی اولین برخورد نقش کلیدی و مؤثری در ادامه و بقاء رابطه ایفاء می نماید و رزومه شما اولین برخورد شما (هر چند غیر حضوری) با کارفرما بوده که نمایانگر شناخت یا تعبیر وی از قابلیتهای شما خواهد بود. لذا دقت داشته باشید که نوع انتخاب کلمات و ساختار جمله بندی شما در ذهن کارفرما می تواند بیانگر سطح دانش، تحصیلات و تجربیات اجتماعی شما باشد. رزومه تان باید شما را فردی مشتاق و همچنین تجربیات کاریتان را مرتبط و جذاب نشان دهد.
		</p>

		<p class="content">
سایت کاربانک با ارائه رهنمونهایی در خصوص نحوه صحیح نگارش رزومه به شما کمک می نماید تا با ساختار استاندارد رزومه نویسی و نکات مرتبط با آن بیشتر آشنا شده و بتوانید با بکارگیری تکنیکهای بسیار ساده رزومه خود را بشکل مؤثرتری ویرایش و ارائه نمائید.
		</p>

	</div>

	<div class="col-md-1"></div>
</div>

{% endblock %}
