{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | خانه{% endblock %}

{% block content %}

{% if slides.count > 0 %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for slide in slides %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if slide.active %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for slide in slides %}
            <div class="item{% if slide.active %} active{% endif %}">
                <a href="{{ slide.url }}">
                    <img src="{{ slide.image.url }}" alt="{{ slide.title }}" class="slider">
                </a>
                <div class="carousel-caption">
                    {% if slide.title %}
                        <h3>{{ slide.title|safe }}</h3>
                    {% endif %}
                    {% if slide.description %}
                        <p>{{ slide.description|safe }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row" style="margin-top: 100px;">

<!-- Right Section for films, theaters and concerts -->
    <div class="col-md-9">

        <!-- Films -->
        <div class="row">
            <div class="col-md-12 header-bottom">
                <h2 class="text-muted header">فیلم های سینمایی</h2>
                <a class="btn more pull-left" href="{% url 'tickets:films' %}">مشاهده فیلم های بیشتر ...</a>

            </div>
        </div>

        <div class="row">
            {% for film in films reversed %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="space">
                        <a href="{% url 'tickets:film_detail' pk=film.pk %}">
                            <img class="img-thumbnail img-responsive thumbnail cover-home" src="{{ film.cover.url }}" alt="{{ film.title }}">
                        </a>
                    </div>
                    <div class="text-center space">
                        <strong>{{ film.title }}</strong>
                    </div>
                    <div class="text-center space">{{ film.director }}</div>
                    <div class="text-center space">
                        <a class="btn btn-primary" href="{% url 'tickets:film_detail' pk=film.pk %}">مشاهده</a>
                    </div>
                </div>   
            {% endfor %}
        </div>
        <hr>

        <!-- Theaters -->
        <div class="row">
            <div class="col-md-12 header-top header-bottom">
                <h2 class="text-muted header">تئاتر ها</h2>
                <a class="btn more pull-left" href="{% url 'tickets:theaters' %}">مشاهده تئاتر های بیشتر ...</a>
            </div>
        </div>

        <div class="row">
            {% for theater in theaters reversed %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="space">
                        <a href="{% url 'tickets:theater_detail' pk=theater.pk %}">
                            <img class="img-thumbnail img-responsive thumbnail cover-home" src="{{ theater.cover.url }}" alt="{{ theater.title }}">
                        </a>
                    </div>
                    <div class="text-center space">
                        <strong>{{ theater.title }}</strong>
                    </div>
                    <div class="text-center space">{{ theater.director }}</div>
                    <div class="text-center space">
                        <a class="btn btn-primary" href="{% url 'tickets:theater_detail' pk=theater.pk %}">مشاهده</a>
                    </div>
                </div>   
            {% endfor %}
        </div>
        <hr>

        <!-- Concerts -->
        <div class="row">
            <div class="col-md-12 header-top header-bottom">
                <h2 class="text-muted header">کنسرت ها</h2>
                <a class="btn more pull-left" href="{% url 'tickets:concerts' %}">مشاهده کنسرت های بیشتر ...</a>
            </div>
        </div>

        <div class="row">
            {% for concert in concerts reversed %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="space">
                        <a href="{% url 'tickets:concert_detail' pk=concert.pk %}">
                            <img class="img-thumbnail img-responsive thumbnail cover-home" src="{{ concert.cover.url }}" alt="{{ concert.title }}">
                        </a>
                    </div>
                    <div class="text-center space">
                        <strong>{{ concert.title }}</strong>
                    </div>
                    <div class="text-center space">
                        <a class="btn btn-primary" href="{% url 'tickets:concert_detail' pk=concert.pk %}">مشاهده</a>
                    </div>
                </div>   
            {% endfor %}
        </div>
    </div>

<!-- Left Section for news and other logos -->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 well">
                <div class="text-center">
                    <h3 class="text-muted"><strong>آخرین اخبار</strong></h3>
                </div>
                {% for n in news reversed %}
                    <div class="space">
                        <img src="{% static 'img/news-icon.jpg' %}">
                        <a href="{% url 'news:detail' pk=n.pk %}">
                            {{ n.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 space">
                {% block advertisement %}
                    {% include "layouts/advertisement.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
{% endblock %}