{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | خانه{% endblock %}

{% block headline %}
	<h2>به سایت رزومه خوش آمدید</h2>
{% endblock %}

{% block content %}

<div class="row">

<!-- Right Section for films, theaters and concerts -->
    <div class="col-md-9">

        <!-- Films -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted header">فیلم های سینمایی</h2>
                <a class="btn more pull-left" href="{% url 'tickets:films' %}">مشاهده فیلم های بیشتر ...</a>

            </div>
        </div>

        <div class="row">
            {% for film in films %}
                <div class="col-md-3 col-sm-6">
                    <div class="space">
                        <a href="{% url 'tickets:film_detail' pk=film.pk %}">
                            <img class="img-thumbnail img-responsive thumbnail" src="{% static 'img/1.jpg' %}" alt="{{ film.title }}">
                        </a>
                    </div>
                    <div class="text-center space">
                        <strong>{{ film.title }}</strong>
                    </div>
                    <div class="text-center space">{{ film.director }}</div>
                    <div class="text-center space">
                        <a class="btn btn-primary" href="{% url 'tickets:film_detail' pk=film.pk %}">مشاهده</a>
                    </div>
                </div>   
            {% endfor %}
        </div>
        <hr>

        <!-- Theaters -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted header">تئاتر ها</h2>
                <a class="btn more pull-left" href="{% url 'tickets:theaters' %}">مشاهده تئاتر های بیشتر ...</a>
            </div>
        </div>

        <div class="row">
            {% for theater in theaters %}
                <div class="col-md-3 col-sm-6">
                    <div class="space">
                        <a href="{% url 'tickets:theater_detail' pk=theater.pk %}">
                            <img class="img-thumbnail img-responsive thumbnail" src="{% static 'img/1.jpg' %}" alt="{{ theater.title }}">
                        </a>
                    </div>
                    <div class="text-center space">
                        <strong>{{ theater.title }}</strong>
                    </div>
                    <div class="text-center space">{{ theater.director }}</div>
                    <div class="text-center space">
                        <a class="btn btn-primary" href="{% url 'tickets:theater_detail' pk=theater.pk %}">مشاهده</a>
                    </div>
                </div>   
            {% endfor %}
        </div>
        <hr>

        <!-- Concerts -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted header">کنسرت ها</h2>
                <a class="btn more pull-left" href="{% url 'tickets:concerts' %}">مشاهده کنسرت های بیشتر ...</a>
            </div>
        </div>

        <div class="row">
            {% for concert in concerts %}
                <div class="col-md-3 col-sm-6">
                    <div class="space">
                        <a href="{% url 'tickets:concert_detail' pk=concert.pk %}">
                            <img class="img-thumbnail img-responsive thumbnail" src="{% static 'img/1.jpg' %}" alt="{{ concert.title }}">
                        </a>
                    </div>
                    <div class="text-center space">
                        <strong>{{ concert.title }}</strong>
                    </div>
                    <div class="text-center space">
                        <a class="btn btn-primary" href="{% url 'tickets:concert_detail' pk=concert.pk %}">مشاهده</a>
                    </div>
                </div>   
            {% endfor %}
        </div>
    </div>

<!-- Left Section for news and logo -->
    <div class="col-md-3 well">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3 class="text-muted"><strong>آخرین اخبار</strong></h3>
                </div>
                {% for n in news %}
                    <div class="space">
                        <img src="{% static 'img/news-icon.jpg' %}">
                        <a href="{% url 'news:detail' pk=n.pk %}">{{ n.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <img class="img-responsive img-thumbnail" src="{% static 'img/tabligh.jpg' %}">
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
{% endblock %}