{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | پرداخت{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{% if ticket %}
			<p class="big">
				پرداخت با موفقیت انجام شد. با تشکر از خرید شما
			</p>
			<p class="space">
				<strong>{{ ticket.title }}</strong> - {{ ticket.place.name }}
				<ul class="list-group">
					<li class="list-group-item">
						نام: <strong>{{ ticket.title }}</strong>
					</li>
					<li class="list-group-item">
						سینما: <strong>{{ ticket.place.name }}</strong>
					</li>
					<li class="list-group-item">
						آدرس: <strong>{{ ticket.place.address }}</strong>
					</li>
					<li class="list-group-item">
						ردیف: <strong>{{ ticket.row }}</strong>
					</li>
					<li class="list-group-item">
						شماره صندلی: <strong>{{ ticket.chair_number }}</strong>
					</li>
					<li class="list-group-item">
						مبلغ: <strong>{{ ticket.price }}</strong>
					</li>
				</ul>
			</p>
			<p>
				<a class="btn btn-primary" href="javascript:window.print()">
					چاپ بلیط
				</a>
			</p>
		{% else %}
			<p class="big">شما اجازه دسترسی به این صفحه را ندارید.</p>
		{% endif %}

		جهت بازگشت به خانه <a href="{% url 'tickets:home' %}">اینجا</a> کلیک کنید.
	</div>
</div>

{% endblock %}