{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<img class="img-responsive img-thumbnail" src="{% static 'img/1.jpg' %}" alt="{{ object.title }}">
		<h2>
			<span class="label label-danger">{{ object.title }}</span>
			<span class="label label-default">{{ object.director }}</span>
			<span class="pull-left">
				<a class="btn btn-success" href="{% url 'tickets:buy_theater_ticket' pk=object.pk %}">خرید بلیط</a>
			</span>
		</h2>
		<hr>
		
		<ul class="list-group">
			<li class="list-group-item">
				<strong>نویسنده: {{ object.writer }}</strong>
			</li>
			<li class="list-group-item">
				<strong>ژانر: {{ object.genre }}</strong>
			</li>
			<li class="list-group-item">
				<strong>تاریخ اکران:‌ {{ object.running_time.date }}</strong>
			</li>
			{% if object.actors.count > 0 %}
				<li class="list-group-item">
					<h4><strong>بازیگران</strong></h4>
					{{ object.actors.all|join:' - ' }}
				</li>
			{% endif %}
			<li class="list-group-item">
				<h4><strong>درباره تئاتر</strong></h4>
				<div class="well">{{ object.description }}</div>
			</li>
		</ul>
	</div>
</div>

{% endblock %}