<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
	<title>{% block title %}پاج تیکت{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-rtl.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
              	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                		    <span class="sr-only">Toggle navigation</span>
              	 		    <span class="icon-bar"></span>
              			    <span class="icon-bar"></span>
              			    <span class="icon-bar"></span>
            		    </button>
            		    <a class="navbar-brand" href="{% url 'tickets:home' %}">پاج تیکت</a>
	     	        </div>

          		  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% if home_active %}class="active"{% endif %}>
                            <a href="{% url 'tickets:home' %}">خانه</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">بلیط <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'tickets:films' %}">فیلم</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'tickets:theaters' %}">تئاتر</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'tickets:concerts' %}">کنسرت</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'news:list' %}">اخبار</a>
                        </li>
                        <li>
                            <a href="#">تماس با ما</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-left">
                        {% if user.is_authenticated %}
                            <li {% if home_active %}class="active"{% endif %}>
                                <a href="{% url 'accounts:dashboard' %}">
                                    داشبورد
                                </a>
                            </li>
                            <li {% if logout_active %}class="active"{% endif %}>
                                <a href="{% url 'accounts:logout' %}">
                                    خروج
                                </a>
                            </li>
                        {% else %}
                            <li {% if login_active %}class="active"{% endif %}>
                                <a href="{% url 'accounts:login' %}">
                                    ورود
                                </a>
                            </li>
                            <li {% if register_active %}class="active"{% endif %}>
                                <a href="{% url 'accounts:signup' %}">
                                    عضویت
                                </a>
                            </li>
                        {% endif %}
                    </ul>

          		  </div>
        	  </div>
        </nav>
    </div>

    <div class="container-fluid container-content">
        <div class="row">
            {% if messages %}
                <ul class="messages list-no-style">
                    {% for message in messages %}
                        <li class="text-center {% if message.tags %} alert alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block content %}
            {% endblock %}            
        </div>
        <div class="push"></div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </footer>
    <!-- Footer END -->

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    
</body>
</html>
