{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | فیلم ها{% endblock %}

{% block content %}

<!-- news -->
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary news-top-space">
            <div class="panel-heading heading text-center">
                <h4><strong>عناوین اخبار سایت پاج تیکت</strong></h4>
            </div>
            <div class="panel-body">
                {% if object_list.count > 0 %}
                    <ul class="list-group">
                        {% for news in object_list %}
                            <li class="list-group-item space title">
                                <div class="row">
                                <div class="col-md-9">
                                    <a href="{% url 'news:detail' pk=news.pk %}">{{ news.title }}</a>
                                </div>
                                <div class="col-md-3">
                                    <span class="label label-default news-date pull-left">
                                    {{ news.date }}
                                    </span>
                                </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {% block advertisement %}
            {% include "layouts/advertisement.html" %}
        {% endblock %}
    </div>
</div>

{% endblock %}