.thumbnail {
	min-height: 200px;
	max-height: 300px;
}

.space {
	margin-top: 10px;
	margin-bottom: 20px;
}

.container-content {
	padding: 10px;
	margin: 16px;
}

.list-no-style {
  padding: 0px;
  list-style: none;
}

.btn-space {
	margin-left: 20px;
	margin-right: 20px;
}

.big-label {
	font-size: 14px;
}

.user-info {
  font-size: 16px;
  line-height: 32px;
}

.big {
	font-size: 22px;
}

.top-space {
	margin-top: 40px;
}

.news-text {
	font-size: 20px;
}

.news-date {
	font-size: 14px;
}

.news-top-space {
	margin-top: 42px;
}

.more {
	background: #ff3543;
	color: #fefefe;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.header {
	display: inline;
}


* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 155px;
}

.footer {
  width: 100%;
  background-color: #01a89e;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}
